.Sidebar {
  width: 20%;
  padding: 5px 5px 5px 5px;
  box-shadow: 4px 4px 4px -4px rgba(0, 0, 0, 0.75);
}

.guest-text {
  width: 50px;
}

.full-width {
  width: 100%;
  font-size: 1em;
  vertical-align:left;
}

.icon-bars-button{
  display: inline-block;
  vertical-align:middle;
}
.icon-bar {
  margin-bottom:2px;
  display: block;
  width: 20px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}