.print-gallery {
  margin: 5px;
  border: 1px solid #ccc;
  padding: 1em;
  height: 200px;
  text-align: center;
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.75);
}

.third-width {
  width: 30%;
  text-align: center;
}

.image-box-xl {
  width: 175px;
  height: 175px;
}
